.task{
    margin-top:16px;
    display:flex;
    width:100%;
    border-bottom: 1px solid #707070;
    align-items: center;
    padding:8px 0;
    position:relative;
    justify-content: space-between;
    .check{
        display: none;
    }
    .box{
        min-width: 20px;
        width:20px;
        height:20px;
        border: 1px solid #707070;
        margin-right: 8px;
        flex: 0.4;
    }
    form{
        textarea{
            min-height: 80px;
            padding:8px 12px;
            border:0;
            outline:0;
        }
        .wrapper{
            width:100%;
            display:flex;
            gap:16px;
            button{
                width:100%;
                outline:0;
                border: 0;
                background-color:#DBE9FF;
                &.cancel{
                    background-color: #F28383;
                    color: white;
                 }
            }
            
        }
    }
    p{
        color:#707070;
        flex:8;
    }
    .options{
        margin-left: 8px;
        background-color: transparent;
        outline:0;
        border:0;
    
        justify-self: end;
        flex: 0.4;
    }
    .optionsBox{
        position:absolute;
        right:16px;
        background-color:#FAFAFA;
        padding:0 24px;
        border-radius: 8px;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.22); 
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.22);
        p{
            padding:8px 0;
            &:hover{
                text-decoration: underline;
            }
            &+p{
                border-top: 1px solid #707070;
                color:#F28383;
                
            }
        }


    }
    div[role='options']{
        visibility: hidden;
    }
    div[role='options'].visible{
        visibility: visible;
    }
    &.done{
        .check{
            display: block;
            position: absolute;
            left:-3px;
        }
       > p{
            color:#C4C4C4;
            text-decoration: line-through;
        }
        
    }

}