#login{
    color: #707070;
    width: 375px;
    padding:16px;
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
        margin-top:36px;
        font-size:64px;
        letter-spacing:-6px;
    }
    form{
        display:flex;
        flex-direction:column;
        margin-top:48px;
        label:last-of-type{
            margin-top:16px;
            display: inline-block;
        }
        input{
            width:100%;
            height:36px;
            border-radius: 8px;
            padding-left: 8px;
            margin-top: 8px;
        }
        .wrapper{
            display:flex;
            gap: 16px;
            justify-content: space-between;
        }
        button{
            width:100%;
            padding: 8px 12px;
            border-radius: 8px;
            border:0;
            background-color:#DBE9FF;
            font-size: 16px;
            margin-top: 16px;
            transition:filter 0.3s;
        &:hover{
            filter:brightness(0.9);
        }
        }
    }
    .separator{
        margin-top:16px;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        &:before,&:after {
            content:"";
            width:116px;
            height:1px;
            background-color:#707070;
        }
    }
    >button{
        margin-top:16px;
        border: 0;
        border-radius: 8px;
        background-color:#DBE9FF;
        padding:8px 12px;
        height:36px;
        display: flex;
        align-items: center;
        transition:filter 0.3s;
        &:hover{
            filter:brightness(0.9);
        }
        
        img{
            flex:1;
            flex-grow: 0;
            flex-shrink: 0;
            margin-left: 36px;
            
        }
        &:nth-of-type(2){
            img{margin-left: 40px;}
            span{
                margin-left:25px;
            }
        }
        span{
            flex: 10;
        }
    }
}